<% provide(:title, 'Edit Room') %>
<div id="frontgate">
  <h1>Edit Room for <%= @room.group.name %></h1>
  <div>
    <%= form_for [@room] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :name, placeholder: 'Room Name' %>

        <%= f.text_field :tag_list %>

        <%= f.check_box :private %><%= f.label :private %>
        <%= f.check_box :closed_canon %><%= f.label :closed_canon %>
        <%= f.check_box :approval_only %><%= f.label :approval_only %>

        <%= f.submit "Create Room" %>
    <% end %>
  </div>
</div>